<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title><%= title %></title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/favicon.ico">
  </head>
  <body class="h-screen md:p-4">

  <%= if message = Map.get(flash, :info) do %>
    <p class="centered flash info"><%= message %></p>
  <% end %>
  <%= if message = Map.get(flash, :warning) do %>
    <p class="centered flash warning"><%= message %></p>
  <% end %>
  <%= __content__ %>
  <script type="text/javascript" src="/main.js"></script>
  </body>
</html>
